@import "settings";
@import "foundation";

$pg-orange: #CD4B00;
$pg-yellow: #C19216;
$pg-red: #820700;
$light-gray: #615E5E;

body {
    /* Location of the image */
    background-image: url(../img/post-apocalyptic-cityscape.jpg);

    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn't move when 
    the content's height is greater than the image's height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based
    on the container's size */
    background-size: cover;

    /* Set a background color that will be displayed
    while the background image is loading */
    background-color: #464646;
}
#sidebar-left {
    //position: absolute;
    background-color: black;
    h6 {
        color: $pg-orange;
    }
    ul {
        display: block;
        list-style: none;
    }
}
#character-panel, #chat-panel, #game-detail-panel {
    background-color: #2E2E2E;
    color: $light-gray;
    overflow: hidden;
}
.panel-handle {
    background-color: #2E2E2E;
    color: $light-gray;
    overflow: hidden;
}
.character-panel-section {
    border-right: 1px solid $light-gray;
    ul {
        padding-left: 4em;
        display: block;
        list-style: none;
        li {
            text-align: left;
        }
    }
    .stat {
        color: $pg-yellow;
        padding-left: 1em;
    }
}